* {
    margin: 0;
    padding: 0;
    font-family: cairo;
    font-weight: 500;
    text-transform: uppercase;
    box-sizing: border-box;
}

body {
    height: 2000px;
    background-color: #000;
}

#tasks {
    margin: auto;
    background-color: #fff;
    width: fit-content;
    padding: 10px;
}

#tasks input {
    border: 1px solid;
    border-radius: 0;
    padding: 0 5px;
}


#tasks button {
    border: 1px solid;
    padding: 0px 5px;
    border-radius: 0;
    cursor: pointer;
}

#tasks .show {
    margin: 10px 0px;
    background-color: #fff;
    border: 1px solid red;
    color: #000;
    padding: 4px 5px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column;
}

#tasks .show button {
    width: fit-content;
    border: 1px solid;
    padding: 0px 5px;
    border-radius: 0;
    cursor: pointer;
}