@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height : 100vh;
    font-weight: 800;
    padding: 10px;
    background-color: white;
}
.container {

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap : 5px;

    overflow-y: scroll;
    text-align: center;
    
    border-radius: 5px;
    padding: 100px;
    height : 100%;
    background-color: black;
    position: relative;
} 

.container div {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    border-radius: 5px;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: center;
}
.container div img {
    width : max-content;
    border-radius: 5px;
}
.container button {
    width : 200px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    border: 1px solid #fff;
    border-radius: 5px;
}
.container button:hover {
    cursor: pointer;
}