* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
    text-transform: uppercase;
}

body {
    background-color: rgb(11, 11, 11);
}

::selection {
    background-color: #000;
    color: #fff;
}

.item div::selection {
    background-color: #fff;
    color: #000;
}